# .tfvars files
#*.tfvars

# Exclude for testing stuff.
#*.tfvars

# .tfstate files
*.tfstate
*.tfstate.*

# Local .terraform directory
**/.terraform/*


# IDE config files
**/.idea/*
**/.vscode/*

# Exclude the lock.hcl stuff.
*.terraform.lock.hcl
